YoutubeAuth/client_secret.json
node_modules/
.env
AudioTranscriber/.env
AudioTranscriber/env
YoutubeAuth/token.json
whisper.cpp/
whisper
clip_1.wav
clips/

memory/
stream_memory
stream_memory.txt

ggml-medium.en.bin

ChatBot/stream_memory.txt
